# Enable build scripts for all packages
enable-pre-post-scripts=true

# Electron specific settings
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
